:root {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1f1f;
  background-color: #dcd7ce;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100vh;
  background-color: #dcd7ce;
}

#root {
  min-height: 100vh;
  height: 100vh;
}

a {
  color: inherit;
}
